<th:block th:replace="~{layout/base.html :: layout(~{::tittle}, ~{::main})}">
    <tittle>Catálogo de juevos - Game Vault</tittle>
    <main class="container">
        <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
            <h2 class="text-gradient">Catálogo de Juegos</h2>
            <a href="/juegos/nuevo" class="btn btn-primary">+ Nuevo Juego</a>
        </div>

        <div class="grid">

            <div class="panel" th:each="juego: ${juegos}">

                <img th:src="${#strings.startsWith(juego.portadaUrl, 'http')} ? ${juego.portadaUrl} : @{/uploads/{img}(img=${juego.portadaUrl})}">
                <div style="padding: 20px;">
                    <h3 th:text="${juego.titulo}" style="margin-top: 0; margin-bottom: 10px;">Título del Juego</h3>
                    <p th:text="${juego.descripcion}" style="color: var(--text-muted); font-size: 0.9rem; line-height: 1.5; margin: 0;">Descripción breve del juego.</p>
                </div>
            </div>

        </div>
    </main>
</th:block>